/* 
======================================================================================================
                                                   fonts
======================================================================================================
*/
@font-face {
  font-family: "lalezar";
  src: url(../../fonts/lalezar/Lalezar-Regular.ttf);
}
@font-face {
  font-family: "vazirmatn regular";
  src: url(../../fonts/vazirmatn/Vazirmatn-Regular.ttf);
}
@font-face {
  font-family: "vazirmatn black";
  src: url(../../fonts/vazirmatn/Vazirmatn-Black.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../../fonts/Poppins/Poppins-Bold.ttf);
}
/* 
======================================================================================================
                                                 reset css
======================================================================================================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
======================================================================================================
                                                 component
======================================================================================================
*/
.btn {
  width: 15rem;
  height: 5rem;
  background-color: var(--primary-color);
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: inherit;
}

.btn:hover {
  box-shadow: 0 0 8px var(--white);
}

h1 {
  font-size: 5rem;
  font-family: var(--Secondary-font);
  padding: 3rem 0;
}

h2 {
  font-size: 2rem;
  font-family: var(--Secondary-font);
  padding-bottom: 3rem;
}

.caption {
  font-family: var(--primary-font);
  line-height: 2.5rem;
}

.btn:hover {
  background-color: var(--main-color);
  border: 1px solid var(--white);
}

/* 
======================================================================================================
                                                    css
======================================================================================================
*/
:root {
  --Bg-color: #2A2323 ;
  --main-color: #000000 ;
  --primary-color: #FF4900 ;
  --Secondary-color:#111111 ;
  --white: #FFFFFF ;
  --title-font: "lalezar" ;
  --primary-font: "vazirmatn regular" ;
  --Secondary-font: "vazirmatn black" ;
  --logo-font: "Poppins" ;
  --placeholder-font-color: #707070 ;
  --transition: all 500ms ease-in-out ;
  --ooverlay-bg-color: rgba(0,0,0,0.7);
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: var(--white);
}

body {
  font-size: 1.6rem;
  color: var(--white);
}

/*
======================================================================================================
                                                header
======================================================================================================
*/
.header {
  background-color: var(--main-color);
  border-bottom: 0.1rem solid var(--primary-color);
  color: var(--white);
  height: 10rem;
}

.header .container {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.app-logo {
  font-family: var(--logo-font);
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-logo__list {
  position: relative;
  cursor: pointer;
  width: 2rem;
  height: 3rem;
}

.mobile__menu {
  display: none;
  position: fixed;
  width: 20rem;
  right: -20rem;
  top: 0;
  bottom: 0;
  background-color: var(--Bg-color);
  z-index: 2;
  transition: var(--transition);
  list-style: disc;
  padding: 3rem;
  line-height: 3rem;
  font-family: var(--primary-font);
}

.mobile__menu--open {
  right: 0;
}

.mobile__item--btn {
  padding: 3rem;
  margin-top: 2rem;
  width: 13rem;
}

.mobile__item--btn:hover {
  padding: 3rem;
  margin-top: 2rem;
  width: 13rem;
  background-color: var(--Bg-color);
  border: 1px solid var(--white);
}

.app-logo__list-span {
  top: 1.6rem;
  right: -0.02rem;
}

.app-logo__list-span,
.app-logo__list-span::after,
.app-logo__list-span::before {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 1.6rem;
  height: 0.35rem;
}

.app-logo__list-span::before {
  top: -0.8rem;
  right: 0;
}

.app-logo__list-span::after {
  top: 0.8rem;
  right: 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  margin-top: -2rem;
}

.menu__item {
  margin: 1.5rem;
  padding: 4rem 1rem 2rem 1rem;
}

.menu__item:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.menu__item--btn {
  margin-top: 2rem;
  width: 10rem;
}

/* 
======================================================================================================
                                                   main
======================================================================================================
*/
.main {
  background-color: var(--Bg-color);
  padding-right: 5rem;
  padding-left: 5rem;
  z-index: 1;
}

.main .container {
  background-color: var(--main-color);
  padding-right: 10rem;
  padding-left: 10rem;
  z-index: 1;
}

/* 
==================================================================================================
                                            about
==================================================================================================
*/
.introduction {
  color: var(--white);
}

.introduction-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}

.introduction-one__imgs {
  background-repeat: no-repeat;
  background-size: contain;
  width: 50rem;
  border-radius: 2rem;
}

.flash {
  border: solid 0.2rem var(--primary-color);
  padding: 1rem 0.5rem;
  border-radius: 5rem;
  width: 3rem;
  text-align: center;
  margin: 5rem auto 10rem auto;
}

.introduction-one__caption {
  font-family: var(--primary-font);
  width: 40rem;
}

.introduction-one__caption-hi {
  background-color: var(--primary-color);
  width: 15rem;
  height: 5rem;
  text-align: center;
  padding: 1.5rem 0;
}

.introduction-one__caption-polygon {
  margin-right: 6.75rem;
}

.introduction-one__caption-btn {
  display: flex;
  padding-top: 3rem;
}

.introduction-one__btn {
  background-color: transparent;
  border: 1px solid var(--white);
  margin-right: 2rem;
}

.introduction-one__btn:hover {
  background-color: var(--primary-color);
  border: none;
}

.introduction-two {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.introduction-two__caption {
  font-family: var(--primary-font);
  max-width: 50rem;
}

.ability-titr {
  padding: 3rem 0 1rem 0;
}

.ability-chart {
  position: relative;
}

.span-chart,
.span-chart::before,
.span-chart::after {
  content: "";
  position: absolute;
  height: 0.4rem;
}

.span-chart {
  width: 50rem;
}

.span-chart::before {
  right: 0;
}

.span-chart::after {
  background-color: var(--placeholder-font-color);
}

.html::before {
  width: 75%;
  background-color: #FF7004;
}

.html::after {
  width: 25%;
  right: 75%;
}

.css::before {
  width: 95%;
  background-color: var(--primary-color);
}

.css::after {
  width: 5%;
  right: 95%;
}

.js::before {
  width: 50%;
  background-color: #FF9809;
}

.js::after {
  width: 50%;
  right: 50%;
}

.wordpress::before {
  width: 40%;
  background-color: #FFBF0D;
}

.wordpress::after {
  width: 60%;
  right: 40%;
}

.introduction-two__caption-btn {
  display: flex;
  padding-top: 3rem;
}

.introduction-two__btn {
  background-color: transparent;
  border: 1px solid var(--white);
  margin-right: 2rem;
}

.introduction-two__btn:hover {
  background-color: var(--primary-color);
  border: none;
}

.introduction-two__img {
  position: relative;
}

.introduction-two__img-photo {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}

.introduction-two__img-comment {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: var(--Secondary-color);
  right: -2rem;
  bottom: -2rem;
  border-radius: 1rem;
}

.introduction-two__img-comment-boxes {
  position: relative;
  margin: 0 auto;
}

.introduction-two__img-comment-box {
  position: absolute;
  width: 1rem;
  height: 2rem;
  background-color: var(--white);
  top: 0;
}

.box-1 {
  right: 1.5rem;
}

.box-2 {
  right: 3.5rem;
}

.box-3 {
  right: 5.5rem;
}

.box-4 {
  left: 1.5rem;
}

.introduction-two__img-comment-text {
  padding: 3rem 1.5rem 3rem 2rem;
  line-height: 1.8rem;
  font-family: var(--Secondary-font);
  font-size: 1.1rem;
}

/* 
==================================================================================================
                                          services
==================================================================================================
*/
.services {
  text-align: center;
}

.services-dash {
  padding-top: 10rem;
  padding-bottom: 1rem;
}

.services-caption {
  max-width: 80rem;
  margin: 0 auto;
}

.services-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  margin-right: -2rem;
  margin-left: -2rem;
}

.service-box {
  width: 30rem;
  height: 8rem;
  background-color: var(--Secondary-color);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 2rem;
  justify-content: space-between;
  flex-grow: 1;
  margin: 2rem;
}

.service-box:hover {
  box-shadow: 0 0 8px var(--primary-color);
  cursor: pointer;
}

.service-box__text {
  display: flex;
  justify-content: start;
  align-items: center;
}

.service-box__logo {
  background-color: var(--main-color);
  width: 5rem;
  height: 5rem;
  border-radius: 10rem;
  padding: 1.5rem;
}

.service-box__titr {
  padding-left: 1.5rem;
  font-family: var(--primary-font);
}

.wordpress-logo {
  background-color: var(--white);
}

.wordpress-box {
  background-color: var(--primary-color);
}

.services-btn {
  margin: 2rem auto 0 auto;
}

/* 
==================================================================================================
                                          achievment
==================================================================================================
*/
.achievment {
  width: 100%;
  background-image: url("../../images/pictures/achievment-banner.jpg");
  z-index: 2;
  font-family: var(--primary-font);
  background-color: rebeccapurple;
}

.achievment-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.achievment-box {
  background-color: var(--Secondary-color);
  width: 20rem;
  height: 15rem;
  padding: 6rem;
  margin: 3rem;
  border: 1px dashed var(--placeholder-font-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

/* 
==================================================================================================
                                          Portfolio
==================================================================================================
*/
/* 
==================================================================================================
                                        Testimonials
==================================================================================================
*/
/* 
==================================================================================================
                                            Blog
==================================================================================================
*/
/* 
==================================================================================================
                                         contact us
==================================================================================================
*/
/* 
======================================================================================================
                                                  footer
======================================================================================================
*/
/* 
======================================================================================================
                                                responsive
======================================================================================================
*/
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
}

@media screen and (max-width: 1400px) {
  .main .container {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .main .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .introduction-two__caption {
    max-width: 40rem;
  }
  .span-chart {
    width: 40rem;
  }
}
@media screen and (max-width: 992px) {
  .menu {
    display: none;
  }
  .mobile__menu {
    display: block;
  }
  .app-logo {
    position: absolute;
    left: 6.5rem;
    top: 3.5rem;
  }
  .introduction-one {
    flex-direction: column-reverse;
  }
  .introduction-one__imgs {
    width: 100%;
  }
  .introduction-one__caption {
    width: 100%;
  }
  .introduction-one__caption-name {
    font-size: 3rem;
    padding: 3rem 0;
  }
  .introduction-one__caption-hi {
    margin: 3rem 0 0 0;
  }
  .about {
    margin: 0 auto;
  }
  .introduction-two {
    flex-direction: column-reverse;
  }
  .introduction-two__img-photo {
    width: 100%;
    margin-bottom: 3rem;
  }
  .introduction-two__img-comment {
    right: -0.5rem;
    bottom: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .span-chart {
    width: 40rem;
  }
  .introduction-two__caption {
    max-width: 40rem;
  }
}
@media screen and (max-width: 576px) {
  .main {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .introduction-one__caption-btn {
    flex-direction: column;
  }
  .introduction-one__btn {
    margin-right: 0;
    margin-top: 2rem;
  }
  .mobile__menu {
    width: 15rem;
  }
  .mobile__item--btn {
    padding: 0.5rem;
    margin-top: 2rem;
    width: 8rem;
  }
  .mobile__item--btn:hover {
    padding: 0.5rem;
    margin-top: 2rem;
    width: 8rem;
    background-color: var(--Bg-color);
    border: 1px solid var(--white);
  }
  .mobile__item {
    font-size: 1.5rem;
  }
  .span-chart {
    width: 20rem;
  }
  .introduction-two__caption {
    margin: 0 auto;
    max-width: 25rem;
    font-size: 1.5rem;
  }
  .introduction-two__caption-btn {
    flex-direction: column;
  }
  .introduction-two__btn {
    margin-right: 0;
    margin-top: 2rem;
  }
  .service-box {
    font-size: 1.2rem;
    min-width: 26rem;
    justify-content: space-between;
    position: relative;
  }
  .service-box__arrow {
    width: 10rem;
    height: 1rem;
    padding-right: 0;
    position: absolute;
    right: -2rem;
  }
}

/*# sourceMappingURL=mian.css.map */
